<h1>
  <%= @level.name %> Lessons
</h1>

<table class="table">
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td>
          <%= link_to(lesson_path(lesson_slug: lesson.slug, level_slug: @level.slug)) do %>
            <%= lesson.name %>
          <% end %>
        </td>
        <td>
          <%= lesson.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
