h1 = "#{@level.name} - #{@lesson.name}"

p = link_to 'Vocabulary', "http://google.com"
p = link_to 'Grammar', "http://google.com"
p = link_to 'Practice', "http://google.com"
p = link_to 'Test', "http://google.com"
